<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" id="add">
           <br/>
            <h4>Adicionar Contato</h4>
            <form id="contato" action="/veiculos/salvar" method="post">
                <div>
                    <label for="nomeCliente">Cliente:</label>
                    <input id="nomeCliente" name="nomeCliente" type="text"/>
                </div>
                <div>
                    <label for="marcaModeloVeiculo">Marca/Modelo: </label>
                    <input id="marcaModeloVeiculo" name="marcaModeloVeiculo" type="text"/>
                </div>
                <div>
                    <label for="anoModelo">Ano:</label>
                    <input id="anoModelo" name="anoModelo" type="text"/>
                </div>
                <div>
                    <label for="valorVenda">Preço:</label>
                    <input id="valorVenda" name="valorVenda" type="text"/>
                </div>
                <div>
                    <label for="dataPublicacao">Publicação:</label>
                    <input id="dataPublicacao" name="dataPublicacao" type="text"/>
                </div>
                <button type="submit">Salvar</button>
            </form>
        </div>
    </body>
</html>
